body {
    margin: 0;
    padding: 0;
    font-family: BebasNeue;
    background-color: black;
    overflow-x: hidden;
    user-select: none;
}

@font-face {
    font-family: BebasNeue;
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

#headline {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 75vh;
    left: 35.8vw;
    z-index: 5;
    color: rgba(255, 255, 255, 0.77);
    font-size: 12vw;
} 

#backgroundImagesHeader {
    width: 100vw;
}

#backgroundImagesHeader > img {
    width: 31vw;
    margin: 1vw;
}

#middleAudi {
    height: 100vh;
}

#sideText {
    position: absolute;
    top: 2vh;
    left: 67vw;
    width: 30vw;
    text-align: center;
    font-size: 1.8vw;
    color: white;
}

#logoName {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 10vh;
    left: 7vw;
    color: rgba(255, 255, 255, 0.77);
    font-size: 5vw;
}

#logoName > p1 {
    color: #FF6F00;
}

#logoName > p2 {
    color: #FF00E1;
}

#logoName > p3 {
    color: #FFDD00;
}

#headlineImage {
    position: absolute;
    margin-top: 8vh;
    left: 25vw;
}

#navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -1vh;
    height: 10vh;
    background-color: #565656;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 30;
}

#logoNavigation {
    width: 5vw;
}

#navigation > #navigationButtons {
    text-align: center;
    font-size: 2.2vw;
    text-transform: uppercase;
    border: none;
    border-radius: 0.3vw;
    background-color: black;
}

#navigation > #navigationButtons > a {
    display: inline-block;
    margin-top: 2vw;
    text-decoration: none;
    color: white;
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
    text-align: center;
}

#navigation > #navigationButtons > a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-out;
}

#navigation > #navigationButtons > a:hover::after {
    transform: scaleX(1);
}

#aboutUsImage {
    margin-left: -25vw;
    width: 100vw;
}

#boxAboutUs {
    position: absolute;
    text-align: center;
    margin-top: 33vh;
    left: 14.6vw;
    padding: 3em;
    width: 60vw;
    font-size: 1.8vw;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.77);
}

#AboutUsBackground {
    width: 100vw;
}

#brandPricesImage > img {
    width: 100vw;
}


/* Kartenstapel */
#card-container {
    width: 30vw;
    height: 60vh;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#cards {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #b100d0;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Stapel-Effekt */
.card {
    transform: translateY(calc(var(--card-index) * 20px));
}

.card.active {
    z-index: 3;
}

.card img {
    width: 80%;
    height: 44%;
    border-radius: 10px;
    margin-bottom: 0;
}

.card ul {
    list-style: none;
    padding: 0;
    font-size: 1.2vw;
    text-align: center;
    color: black;
}


/*Produktionsstätte*/

#headlineImageProduce > img {
    width: 100vw;
}

#facts {
    margin-left: 12vw;
}

#facts > p {
    font-size: 2vw;
    color: white;
    margin-bottom: 8vh;
    width: 40vw;
}

#produceImage {
    position: absolute;
    margin-top: -84vh;
    margin-left: 55vw;
    width: 40vw;
    border-radius: 3vw;
}

#performanceRaceHeadline > img {
    width: 100vw;
}

/*Performance Racer*/

#AccelerationValue {
    width: 30vw;
    height: 30vw;
    background: linear-gradient(to bottom, #9966ff 0%, #cc66ff 100%);
    border-radius: 20vw;
    margin-left: 10vw;
}

#inlineCircle {
    width: 30vw;
    height: 30vw;
    background: black;
    border-radius: 20vw;
    margin-left: 8vw;
}

#inlineCircle > p {
    position: absolute;
    font-size: 3vw;
    color: white;
}

#kilometersPerHour {
    margin-left: 5.1vw;
    margin-top: 11vw;
    left: auto;
}

#inlineCircle > p {
    position: absolute;
    font-size: 3vw;
    color: white;
}

#kilometersPerHour {
    margin-left: 5.1vw;
    margin-top: 11vw;
    left: auto;
}

#kmH {
    margin-left: 6.4vw;
    margin-top: 1.1vw;
    left: auto;
}

#metersPerSecond {
    margin-left: 5.1vw;
    margin-top: 16vw;
    left: auto;
}

#mS {
    margin-left: 7.2vw;
    margin-top: -9vw;
    left: auto;
}

/*Calculator for the performance*/

#calculator {
    position: absolute;
    background: linear-gradient(to bottom, #9966ff 0%, #cc66ff 100%);
    width: 35vw;
    height: 60vh;
    margin-left: 55vw;
    margin-top: -55vh;
    border-radius: 3vw;
}

#calculator > h2 {
    font-size: 2.8vw;
    margin-left: 2.6vw;
    color: white;
}

#headlines {
    display: block;
    font-size: 2vw;
    color: white;
    margin-top: 1vh;
    margin-left: 0vw;
    text-align: center;
}

#model {
    display: block;
    font-size: 1vw;
    margin-left: 12.7vw;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
}

#weight {
    display: block;
    font-size: 1vw;
    margin-left: 15.6vw;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
}

#weather {
    display: block;
    font-size: 1vw;
    margin-left: 13.6vw;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
}

#tires {
    display: block;
    font-size: 1vw;
    margin-left: 14.2vw;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
}

#model > option {
    font-size: 1vw;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
}

#weather > option {
    font-size: 1vw;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
}

#tires > option {
    font-size: 1vw;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
}

#calculate {
    display: block;
    font-size: 1.4vw;
    margin-left: 13.1vw;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    padding: 1vw;
    margin-top: 2vh;
    border-radius: 1vw;
    transition: transform 0.5s;
}

#calculate:hover {
    cursor: pointer;
    transform: scale(1.2);
}


#Evaluation {
    height: 100vh;
}

/*Evaluation*/

#feedback {
    margin-top: 12vh;
    height: 120vh;
}

header.site-header {
    background-color: #007BFF;
    color: white;
    padding: 2vw;
    text-align: center;
}

header.site-header .navbar a {
    color: white;
    margin: 0 1vw;
    text-decoration: none;
    font-weight: bold;
}

header.site-header .navbar a:hover {
    text-decoration: underline;
}

main .section {
    padding: 2vw;
    margin: 2vw 0;
    background-color: white;
    border-radius: 8vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer.site-footer {
    text-align: center;
    padding: 1vw;
    background-color: #007BFF;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.evaluation-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.feedback-box {
    width: 100%;
    height: 160px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 15px;
    overflow-y: auto;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#feedbackDisplay {
    width: 80vw;
    height: 60vh;
    margin-top: 32vh;
    margin-bottom: -28vh;
    transform: translate(-30vw, -50%);
    background: linear-gradient(to bottom, #cc66ff 0%, #9966ff 100%);
    border: 1px solid #000000;
    border-radius: 3vw;
    color: white;
}

#feedbackInput {
    width: 70vw;
    height: 10vh;
    font-family: BebasNeue;
    font-size: 1.5vw;
    margin-left: -28vw;
    margin-top: 2vh;
}

textarea {
    width: 100%;
    height: 60px;
    color: white;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 1vw;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 14px;
}

#submitFeedbackButton {
    width: 20vw;
    padding: 12px;
    background-color: #cc66ff;
    transition: 0.5s background-color;
    color: white;
    border: none;
    border-radius: 0.4vw;
    font-size: 2vw;
    cursor: pointer;
    font-weight: bold;
    margin-left: -2vw;
    margin-top: 2vh;
}

#submitFeedbackButton:hover {
    background-color: #8e24c3;
}

.feedback-message {
    background: #cc66ff;
    margin: 1vw;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 8px;
    text-align: left;
    font-size: 14px;
    color: #333;
    word-wrap: break-word;
}

.feedback-message > p {
    font-size: 1.5vw;
    text-align: center;
    margin: 0.5vw;
    padding: 0vw;
}

#evaluationImg {
    width: 100vw;
}

/*Footer*/
#footer {
    background-color: #000000;
    height: 32vh;
}

#sources {
    position: absolute;
    align-items: center;
    text-align: center;
    width:15vw;
    height: 17vh;
    background-color: #D9D9D9   ;
    margin-top: 2vw;
    margin-left: 2vw;
    padding: 1vw;
    border-radius: 1vw;
}

#sources > p {
    font-size: 1.4vw;
}

#phoneNumber {
    position: absolute;
    font-size: 2.1vw;
    color: white;
    left: 42vw;
    margin-top: 3vh;
}

#socials {
    position: absolute;
    margin-left: 39vw;
    margin-top: 8vw;
    width: 22vw;
    background-color: #D9D9D9;
    border-radius: 1vw;
}

#socials > a > img {
    width: 4vw;
    margin: 1vw 0.7vw;
    border-radius: 5vw;
}

#logo {
    width: 25vw;
    position: absolute;
    margin-left: 70vw;
    border-radius: 1vw;
    border: 2vw solid rgba(0, 0, 0, 0.775);
}