body {
    margin: 0;
    padding: 0;
    font-family: BebasNeue;
    letter-spacing: 0.3vw;
    background-color: black;
    user-select: none;
}

@font-face {
    font-family: BebasNeue;
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

#navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -1vh;
    height: 10vh;
    background-color: #565656;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 30;
}

#logoNavigation {
    width: 5vw;
}

#navigation > #navigationButtons {
    text-align: center;
    font-size: 2.2vw;
    text-transform: uppercase;
    border: none;
    border-radius: 0.3vw;
    background-color: black;
}

#navigation > #navigationButtons > a {
    display: inline-block;
    margin-top: 2vw;
    text-decoration: none;
    color: white;
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
    text-align: center;
}

#navigation > #navigationButtons > a::after {
    content: '';
    position: absolute;
    width: 97%;
    height: 8px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-out;
}

#navigation > #navigationButtons > a:hover::after {
    transform: scaleX(1);
}

#startVideo {
    width: 100vw;
}

#headline {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 15vh;
    left: 30.3vw;
    color: rgba(255, 255, 255, 0.77);
    font-size: 8vw;
}  

#underlineText {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 75vh;
    color: rgba(255, 255, 255, 0.77);
    font-size: 2vw;
    width: 100vw;
}

#logoName {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 80vh;
    left: 41vw;
    color: rgba(255, 255, 255, 0.77);
    font-size: 5vw;
}

#logoName > p1 {
    color: #FF6F00;
}

#logoName > p2 {
    color: #FF00E1;
}

#logoName > p3 {
    color: #FFDD00;
}

#AboutPorsche {
    height: 100vh;
    margin-top: -0.4vh;
    background-image: url();
}

#boxAboutUs {
    display: flex;
    position: absolute;
    margin-top: 69vh;
    left: 17.5vw;
    padding: 3em;
    padding-bottom: 18vh;
    width: 60vw;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.77);
}

#boxAboutUs > p {
    width: 100vw;
    text-align: center;
    letter-spacing: 0.2vw;
    font-size: 1.5vw;
}

#aboutUsPorscheImage {
    position: absolute;
    left: 15vw;
    margin-top: 88vh;
    width: 35vw;    
}

#aboutUsPorsche {
    position: absolute;
    z-index: -1;
    width: 100vw;
}

#slideshowHeadline {
    width: 100vw;
    margin-top: 19vh;
}

#mainSlide {
    width: 100vw;
    height: 100vh;
}

#nextSlide {
    display: flex;
    position: absolute;
    margin-top: -72vh;
    margin-left: 20vw;
    border-radius: 2vw;
    border: 0.5vw solid black;
    z-index: 3;
    width: 20vw;
}

#nextNextSlide {
    display: flex;
    position: absolute;
    margin-top: -48vh;
    margin-left: 59vw;
    border-radius: 2vw;
    border: 0.5vw solid black;
    z-index: 2;
    width: 20vw;
}

#shopImage {
    width: 100vw;
}

#outputVote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    font-size: 1vw;
}

#outputVote > div {
    padding: 2vw;
    background-color: #5656566e;
    color: white;
    text-align: center;
    border-radius: 1vw;
    margin: 1vw;
    height: 70vh;
    width: 20vw;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}


.voteButton {
    position: relative;
    background-color: #ef0a0a;
    width: 10vw;
    border: none;
    font-size: 1.3vw;
    padding: 0.5vw;
    border-radius: 1vw;
    transition: 0.5s transform;
}

.voteButton {
    transform: translate(scale(2));
}

#voteImages {
    width: 15vw;
    border-radius: 2vw;
}

#footerShop {
    background-color: rgba(160, 160, 160, 0.822);
    height: 10vh;
}

#logoNameShop {
    display: flex;
    position: absolute;
    margin-left: 2vw;
    font-size: 5vw;
}

#logoNameShop > p1 {
    color: #FF6F00;
}

#logoNameShop > p2 {
    color: #FF00E1;
}

#logoNameShop > p3 {
    color: #FFDD00;
}

#shopButtons {
    display: flex;
    align-items: center;
    justify-content: baseline;
}

#shopButtons > button {
    font-family: BebasNeue;
    font-size: 2vw;
    width: 15vw;
    height: 2em;
    margin-top: 1.6vh;
    border-radius: 0.8vw;
    background-color: #4F9EF8;
    border: solid 0.1vw white;
    transition: transform 0.5s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#buy {
    margin-top: 0.1em;
    margin-left: 50vw;
    margin-right: 2vw;
}

#login {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    margin-top: 1.3vh;
    margin-left: 88vw;
    background-color: rgba(255, 255, 255, 0.788);
    width: 10vw;
    border-radius: 0.5vw;
    height: 4.3vw;
    padding-left: 1vw;
    transition: transform 0.5s;
}

#login:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#login > p {
    font-size: 2vw;
    letter-spacing: 0.2vw;
}

#loginImage {
    width: 5vw;
}

#comparison {
    width: 100vw;
}

#cards {
    margin-top: 6vw;
}

#cards > div {
    border-radius: 1vw;
    background-color: gray;
    height: 80vh;
}

#comparisonPage {
    height: 130vh;
    background-color: black;
}

#cardOne {
    position: absolute;
    width: 30vw;
    margin-left: 9vw;
}

#cardTwo {
    position: absolute;
    margin-left: 60vw;
    width: 30vw;
}

#comparisonPorsche911 {
    width: 25vw;
    margin-top: -2vw;
    margin-left: 2vw;
}

#porsche911list, #porscheGT3list {
    width: 26vw;
    text-align: center;
}

#porsche911list > li, #porscheGT3list > li {
    margin: 1vw;
    letter-spacing: 1px;
    font-size: 1.2vw;
}

#comparisonPorscheGT3Rs {
    width: 30vw;
    margin-top: -6vw;
}

#cards > div > p {
    font-size: 1.4vw;
    text-align: center;
    padding: 1vw;
    width: 22vw;
    margin-left: 3vw;
    border-radius: 1vw;
    background-color: rgb(199, 199, 199);
}

#loginField {
    position: absolute;
    font-size: 3.2vw;
    background-color: rgba(243, 243, 243, 0.733);
    width: 70vw;
    height: 60vh;
    z-index: 11;
    text-align: center;
    margin-left: 15vw;
    margin-top: 22vh;
    border-radius: 2vw;
}

#loginBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    background: hsla(297, 59%, 34%, 1);
    background: linear-gradient(90deg, hsla(297, 59%, 34%, 1) 0%, hsla(345, 74%, 58%, 1) 50%, hsla(22, 87%, 56%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(297, 59%, 34%, 1) 0%, hsla(345, 74%, 58%, 1) 50%, hsla(22, 87%, 56%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(297, 59%, 34%, 1) 0%, hsla(345, 74%, 58%, 1) 50%, hsla(22, 87%, 56%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#832388", endColorstr="#E3436B", GradientType=1 );
}

#username, #password, #send {
    font-size: 2vw;
    text-align: center;
    border: none;
    background-color: black;
    color: white;
    border-radius: 1vw;
    padding: 1vw;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    margin: 1vw;
}

#send {
    position: absolute;
    font-size: 2.4vw;
    width: 18vw;
    margin-left: -37vw;
    margin-top: 13vh;
}

#username:hover, #password:hover, #send:hover {
    transform: scale(1.1);
    background-color: blue;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*Footer*/
#footer {
    background-color: #565656;
    height: 30vh;
}

#sources {
    position: absolute;
    align-items: center;
    text-align: center;
    width:15vw;
    height: 17vh;
    background-color: #D9D9D9   ;
    margin-top: 2vw;
    margin-left: 2vw;
    padding: 1vw;
    border-radius: 1vw;
}

#sources > p {
    font-size: 1.4vw;
    letter-spacing: 0.1vw;
}

#phoneNumber {
    position: absolute;
    font-size: 2.1vw;
    left: 39.5vw;
    margin-top: 3vh;
}

#socials {
    position: absolute;
    margin-left: 39vw;
    margin-top: 8vw;
    width: 23vw;
    background-color: #D9D9D9;
    border-radius: 1vw;
}

#socials > a > img {
    width: 4vw;
    margin: 1vw 0.7vw;
    border-radius: 5vw;
}

#logo {
    width: 20vw;
    position: absolute;
    margin-left: 75vw;
    margin-top: 2vw;
}