body {
    margin: 0;
    padding: 0;
    font-family: BebasNeue;
    background-color: black;
    letter-spacing: 0.3vw;
    user-select: none;
}

@font-face {
    font-family: BebasNeue;
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

#backgroundImageHeader {
    width: 100vw;
}

#logoName > #blurBox {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.199);
    padding: 1vw;
    border-radius: 5vw;
    backdrop-filter: blur(20px);
    margin-left: 9.3vw;
    margin-top: -85vh;
    color: rgb(238, 242, 1);
    font-size: 20vw;
}

#blurBox > p1 {
    color: #FF6F00;
}

#blurBox > p2 {
    color: #FF00E1;
}

#blurBox > p3 {
    color: #FFDD00;
}

#underlineText {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.77);
    font-size: 2vw;
    width: 80vw;
    margin-top: 12vh;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.137), 
                0px 0px 10px rgba(255, 255, 255, 0.468), 
                0px 0px 15px rgba(255, 255, 255, 0.429);
}

/*aboutMe*/

#aboutMe {
    width: 42vw;
    color: white;
    font-size: 2vw;
    margin: 8vw;
}

#logoImage {
    position: absolute;
    margin-left: 58vw;
    margin-top: -36vw;
    width: 32vw;
}

/*list*/

#explination, #list > p:last-of-type {
    color: white;
    text-align: center;
    font-size: 2vw;
    margin-top: 12vh;
    width: 80vw;
    margin-left: 10vw;
}

#list {
    height: 80vh;
    position: relative;
    text-align: center;
}

#box1, #box2, #box3 {
    margin: 6vh auto;
    position: relative;
}

.circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    font-size: 2vw;
    text-decoration: none;
    color: black;
    margin-bottom: 1vh;
}

#box1 .circle { background-color: #FF6F00; }
#box2 .circle { background-color: #FF00E1; }
#box3 .circle { background-color: #FFDD00; }

.car-name {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 3vw;
    color: white;
    pointer-events: none;
    margin: 0;
}

.circle:hover + .car-name {
    opacity: 1;
}

/*project*/

h1,h2 {
    font-size: 5vw;
    color: white;
    
    width: 100vw;
    text-align: center;
}

h1 {
    margin-top: 20vh;
}

h2 {
    margin-top: 16vh;
}

h3 {
    font-size: 5vw;
    margin-bottom: -2vh;
}

#project > p {
    color: white;
    font-size: 2vw;
    width: 80vw;
    margin-left: 10vw;
    text-align: center;
}

/*Footer*/
#footer {
    background-color: #565656;
    height: 32vh;
}

#sources {
    position: absolute;
    align-items: center;
    text-align: center;
    width:15vw;
    height: 17vh;
    background-color: #D9D9D9   ;
    margin-top: 2vw;
    margin-left: 2vw;
    padding: 1vw;
    border-radius: 1vw;
}

#sources > p {
    font-size: 1.4vw;
    letter-spacing: 0.1vw;
}

#phoneNumber {
    position: absolute;
    font-size: 2.1vw;
    left: 39.5vw;
    margin-top: 3vh;
}

#socials {
    position: absolute;
    margin-left: 39vw;
    margin-top: 8vw;
    width: 23vw;
    background-color: #D9D9D9;
    border-radius: 1vw;
}

#socials > a > img {
    width: 4vw;
    margin: 1vw 0.7vw;
    border-radius: 5vw;
}

#logo {
    width: 17vw;
    position: absolute;
    margin-left: 75vw;
    margin-top: -1vw;
}

#map {
    height: 30vw;
    width: 50vw;
    margin-left: 25vw;
    margin-bottom: 4vh;
    border-radius: 1vw;
}

/*Gehört immer ausgetauscht (STRG x, STRG V)*/
.leaflet-popup-content-wrapper {
    cursor: default;
    background-color: green;
    letter-spacing: 1px;
    text-align: center;
    font-size: 1vw;
}

/*responsive design*/

@media (max-width: 428px) {

#logoName > #blurBox {
    position: relative;
    margin: 0 auto;
    margin-top: -20vh;
    margin-bottom: 12vh;
    width: 60vw;
    font-size: 12vw;
    padding: 2vh;
    border-radius: 0.5em;
    text-align: center;
  }

  #underlineText {
    font-size: 2vw;
    margin-top: 5vh;
    margin-left: -9vw;
  }

  h3 {
    font-size: 5vw;
    margin-bottom: 1vh;
  }

  #explination {
    font-size: 2vw;
    margin-top: 5vh;
    width: 80vw;
    margin-left: 10vw;
  }

  /*unfärtig*/
  .circle {
    width: 5vw;
    height: 5vw;
    font-size: 3vw;
  }

  h1 {
    font-size: 5vw;
    margin-top: -25vh;
  }

  #map {
    height: 40vw;
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 4vh;
    border-radius: 1vw;
  }

  h2 {
    font-size: 5vw;
    margin-top: 5vh;
  }

  #footer {
    height: 10vh;
  }

  #sources {
    height: 5vh;
  }

  #sources {
    height: 5vh;
  }

  #phoneNumber {
    font-size: 3vw;
    left: 35vw;
    margin-top: 0vh;
  }

  #socials {
    width: 24.3vw;
  }

  #logo {
    width: 20vw;
    margin-left: 75vw;
    margin-top: 1vw;
  }

}